@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: 'SOYOMapleBoldTTF', sans-serif;
}

a {
    text-decoration: none;
    color: inherit
}


#login_button {
    width: 90px;
    height: 30px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#login_button:hover {
    background-color: #606264;
}

.header_wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    background: #fff;
    margin-bottom: -40px;
    height: 50px;
}

#profile_container {
    position: relative;
}


#more_button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;
}

#user_box {
    display: none;
    position: absolute;
    right: 0;
    top: 75px;
    background-color: #f9f9f9;
    border: none;
    border-radius: 20px;
    padding: 30px;
    z-index: 10;
    width: 315px;
    height: 260px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#user_box img {
    margin: auto;
    width: 120px;
    height: 120px;
    padding: 10px;
    display: block;
}

#user_box #welcome_message {
    padding: 10px;
    font-size: 20px;
}

#logout_button {
    background-image: url('../images/logout.png');
    background-position: left 30px center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    margin-top: 17px;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 30px;
    background-color: #dbe5f0;
    cursor: pointer;
    font-family: 'SOYOMapleBoldTTF', sans-serif;
    font-size: 15px;
    transition: background-color 0.3s, color 0.3s;
}


#logout_button:hover {
    background-color: #999;
    color: white;
}


.board_wrap {
    width: 1000px;
    margin: 100px auto;
}

.board_header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board_title {
    margin-bottom: 15px;
}

.board_title strong {
    font-size: 3rem;
}

.search_box {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.search_input {
    height: 25px;
    padding-left: 5px;
    padding-right: 30px;
    border-radius: 5px;
    border: 2px solid black;
    background-position: right 7px center;
    background-size: 15px 15px;
    background-repeat: no-repeat;
}

.search_button {
    position: absolute;
    right: 5px;
    width: 25px;
    height: 25px;
    background: url('../images/search.png') no-repeat center;
    background-size: 15px 15px;
    border: none;
    cursor: pointer;
}

.dropdown {
    align-items: center;
    margin-right: 10px;
}


.dropdown_content {
    display: block;
    background-color: #f9f9f9;
    width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.board_list .writer, .board_list .date {
    text-align: center;
    width: 10%;
}

.board_list {
    width: 100%;
    border-top: 2px solid black;
}

.board_list .top {
    background-color: #ddd;
}

.board_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board_list > div:last-child {
    border-bottom: 1px solid black;
}

.board_list > div > div {
    padding: 15px 0;
    display: inline-block;
    text-align: center;
    font-size: 1.4rem;
}

.board_list > div.top > div {
    font-weight: 600;
}

.board_list .num {
    width: 10%;
}

.board_list .title {
    text-align: center;
    width: 60%;
}

.board_list .top .title {
    text-align: center;
}

.board_list .info {
    width: 10%;
}

.board_list .date {
    width: 20%;
}

.board_list .title a:hover {
    text-decoration: underline;
    color: #999;
}

.button_wrap {
    margin-top: 20px;
    text-align: right;
}

.write_button {
    width: 80px;
    height: 30px;
    border-radius: 2px;
    border: none;
    background-color: lightgray;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.write_button:hover {
    background-color: #606264;
    color: white;
}

.board_view {
    width: 100%;
    border-top: 2px solid black;
}

.board_view .title {
    padding: 20px 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 2rem;
}

.board_view .info {
    padding: 15px;
    border-bottom: 1px solid #999;
    font-size: 0;
}

.board_view .info dl {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.board_view .info dl:first-child {
    padding-left: 0;
}

.board_view .info dl::before {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 13px;
    top: 0;
    left: 0;
    background-color: #ddd;
}

.board_view .info dl:first-child::before {
    display: none;
}

.board_view .info dl dt,
.board_view .info dl dd {
    display: inline-block;
    font-size: 1.4rem;
}

.board_view .info dl dd {
    margin-left: 10px;
    color: #777;
}

.board_view .content {
    padding: 15px;
    border-bottom: 1px solid black;
    line-height: 160%;
    font-size: 1.4rem;
}

.board_write {
    border-top: 2px solid black;
}

.board_write .title,
.board_write .info {
    padding: 15px;
}

.board_write .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px dashed #ddd;
    border-bottom: 1px solid black;
    font-size: 1.4rem;
}

.board_write .info > dl,
.board_write .info > .secret_post {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.board_write .info > dl {
    margin-right: 20px;
}

.board_write .info .secret_post input[type="checkbox"] {
    margin-right: 10px;
}

.board_write .info .secret_post input[type="password"] {
    padding: 10px;
    box-sizing: border-box;
    width: 300px;
    margin-left: 10px;
}

.board_write .title dl {
    font-size: 0;
}

.board_write .info .dl {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.board_write .title dt,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
}

.board_write .title dt,
.board_write .info dt {
    width: 100px;
}

.board_write .info dd {
    width: calc(100% - 100px);
}

.board_write .title input[type="text"],
.board_write .info input[type="text"] {
    padding: 10px;
    box-sizing: border-box;
    width: 300px;
}

.board_write .info label {
    margin-right: 20px;
}

.board_write .content {
    border-bottom: 1px solid black;
}

.board_write .content textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: none;
}

.post_button,
.cancel_button,
.list_button,
.edit_button,
.delete_button {
    width: 80px;
    height: 30px;
    border-radius: 2px;
    border: none;
    background-color: lightgray;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.post_button:hover,
.cancel_button:hover,
.list_button:hover,
.edit_button:hover,
.delete_button:hover {
    background-color: #606264;
    color: white;
}

.cancel_button, 
.list_button,
.delete_button {
    margin-left: 5px;
}