<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="header_wrap">
        {% if session['user_id'] %}
        <div id="profile_container">
            <div id="user_container">
                <img src="../static/images/more.png" alt="more.png" id="more_button">
            </div>
            <div id="user_box">
                <img src="../static/images/user.png" alt="user.png">
                <div id="welcome_message">안녕하세요. {{ session['user_id'] }}님</div>
                <button id="logout_button" onclick="window.location.href='logout'">로그아웃</button>
            </div>
        </div>
        {% else %}
        <button id="login_button" onclick="window.location.href='/login'">
            로그인
        </button>
        {% endif %}
    </div>
    <div class="board_wrap">
        <div class="board_header_wrap">
            <div class="board_title">
                <strong>게시판</strong>
            </div>
            <div class="search_box">
                <div class="dropdown">
                    <select class="dropdown_content" id="dropdown_content">
                        <option>전체(제목 + 내용)</option>
                        <option>제목</option>
                        <option>내용</option>
                    </select>
                </div>
                <input type="text" placeholder="Search" class="search_input", id="search_input">
                <button class="search_button" id="search_button"></button>
            </div>
        </div>
        <div class="board_list_wrap">
            <div class="board_list">
                <div class="top">
                    <div class="num">번호</div>
                    <div class="title">제목</div>
                    <div class="writer">글쓴이</div>
                    <div class="date">작성일</div>
                </div>
                {% for id, title, writer, secret_key, date in posts %}
                    <div>
                        <div class="num">{{ id }}</div>
                        <div class="title">
                            {% if secret_key %}
                            <img src="../static/images/lock.png" alt="Locked" class="lock_icon">
                            {% endif %}
                            <a href="/view_post/{{ id }}" title="상세보기 페이지로 이동" class="post_link">{{ title }}</a>
                        </div>
                        <div class="writer">{{ writer }}</div>
                        <div class="date">{{ date }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div onclick="window.location.href='/write'" class="button_wrap">
            {% if session['user_id'] %}
            <button class="write_button">
                글 쓰기 ✎
            </button>
            {% endif %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/index.js"></script>
</body>

</html>