<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="board_wrap">
        <div class="board_header_wrap">
            <div class="board_title">
                <strong>게시판</strong>
            </div>
            <div class="search_box">
                <div class="dropdown">
                    <button class="dropdown_button" id="condition_button">
                        <span id="search_condition">전체(제목 + 내용)</span>
                        <span><img src="../static/images/arrow_up.png" alt="arrow" id="arrow_image"></span>
                    </button>
                    <div class="dropdown_content" id="dropdown_content">
                        <a href="#" data-value="all">전체(제목 + 내용)</a>
                        <a href="#" data-value="title">제목</a>
                        <a href="# "data-value="content">내용</a>
                    </div>
                </div>
                <input type="text" placeholder="Search" class="search_input">
                <button class="search_button" id="search_button"></button>
            </div>
        </div>
        <div class="board_list_wrap">
            <div class="board_list">
                <div class="top">
                    <div class="num">번호</div>
                    <div class="title">제목</div>
                    <div class="writer">글쓴이</div>
                    <div class="date">작성일</div>
                </div>
                {% for id, title, writer, date in posts %}
                    <div>
                        <div class="num">{{ id }}</div>
                        <div class="title"><a href="#">{{ title }}</a></div>
                        <div class="writer">{{ writer }}</div>
                        <div class="date">{{ date }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div onclick="window.location.href='/write'" class="button_wrap">
            <button class="write_button">
                글 쓰기 ✎
            </button>
        </div>
            <div class="board_page">
                <a href="" class="button prev"><</a>
                <a href="" class="num">1</a>
                <a href="" class="num">2</a>
                <a href="" class="num">3</a>
                <a href="" class="num">4</a>
                <a href="" class="num">5</a>
                <a href="" class="button next">></a>
            </div>
    </div>
    <script src="../static/js/index.js"></script>
</body>

</html>