<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="board_wrap">
        <div class="board_title">
            <strong>게시판</strong>
        </div>
        <div class="board_view_wrap">
            <div class="board_view">
                <div class="title">
                    {{ post[1] }}
                </div>
                <div class="info">
                    <dl>
                        <dt>번호</dt>
                        <dd id="post_id">{{ post[0] }}</dd>
                    </dl>
                    <dl>
                        <dt>글쓴이</dt>
                        <dd>{{ post[2] }}</dd>
                    </dl>
                    <dl>
                        <dt>작성일</dt>
                        <dd>{{ post[4] }}</dd>
                    </dl>
                </div>
                <div class="content">
                    {{ post[3] }}
                </div>
            </div>
        </div>
        <div class="button_wrap">
            <button onclick="window.location.href='/get_post_data/{{ post[0] }}';" class="edit_button" id="edit_button">
                수정
            </button>
            <button onclick="window.location.href='/index';" class="list_button">
                목록
            </button>
        </div>
    </div>
</body>

</html>