<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="board_wrap">
        <div class="board_title">
            <strong>게시판</strong>
        </div>
        <div class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <dd><input type="text" placeholder="제목 입력"></dd>
                        <dd class="file-upload"><input type="file" id="fileInput" multiple></dd>
                    </dl>
                </div>
                <div class="info">
                    <dl>
                        <dt>글쓴이</dt>
                        <dd><input type="text" value="{{ session['user_id'] }}" disabled></dd>
                    </dl>
                    <div class="secret_post">
                        <input type="checkbox" id="checkbox" onchange="isChecked()">
                        <label for="checkbox">비밀글</label>
                        <input type="password" id="password" placeholder="비밀번호 입력" disabled>
                    </div>
                </div>
                <div class="content">
                    <textarea placeholder="내용 입력"></textarea>
                </div>
            </div>
        </div>
        <div class="button_wrap">
            <button class="post_button" id="post_button">
                등록
            </button>
            <button onclick="window.location.href='/index';" class="cancel_button">
                취소
            </button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/write.js"></script>
</body>

</html>